 .navbar-brand img {
      height: 50px;
    }

    .service-card {
      border: 1px solid #0d6efd;
      border-radius: 10px;
      text-align: center;
      background-color: #e0d6d6;
      padding: 10px;
    }

    .service-card:hover {
      transform: scale(1.05);
    }

    .service-card img {
      height: 80px;
      margin-bottom: 15px;
    }

    footer i {
      font-size: 1.3rem;
    }

    footer a {
      color: #fff;
    }

    footer a:hover {
      color: #ffc107;
    }